{% extends "base.html" %}
{% load static %}

{% block page_content %}
{% load cart_tag %}

<style>
    body{
        background-color: darkgrey;
    }
</style>


<br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container cart-background">
    Carrito({{request.session.cart|length}})

    {% for key,value in request.session.cart.items %}
    <div class="row cartitem justify-content-between">
        <div class="col-sm-1">
            <img src="{% static value.image %}" alt=""> 
        </div>
        <div class="row col-sm-9">
           <div class="col-sm-5">
            {{value.name}}
            {{value.product_id}}
            {{value.codigo}}
            {{value.subcodigo}}
            {{value.talle}}
            </div>
            <div class="col-sm-2">
                <a href="{% url 'item_clear'  value.product_id %}">Eliminar</a>
            </div>
            <div class="col-sm-3">
            <a href="{% url 'item_decrement' value.product_id %}">-</a>
            {{value.quantity}} 
            <a href="{% url 'item_increment' value.product_id %}">+</a>
            </div>
            <div class="col-sm-2">
                ${{ value.price|multiply:value.quantity }}
            </div>
        </div>
    </div>
    {% endfor %}
    
    <a href="{% url 'cart_clear' %}">Vaciar carrito</a><br><br><br><br>
</div>




<br><br><br><br><br>
{% endblock %}