{% extends "base.html" %}
{% load static %}
{% block page_content %}


    <div class="row col-ms-10 orders">
        {% for order in orders %}
        <div class="row">
            <div class="col-sm-3">
                usuario: {{order.user}}
            </div>
            <div class="col-sm-3">
                Total: {{order.totalPrice}}
            </div>
            <div class="col-sm-3">
               Direcction: {{order.direccionEntrega}}
            </div>
            Productos: <br>
            {% for x in order.productsinorder_set.all %}
                {{x.product.codigo}}{{x.subcodigo}}<br>
            {% endfor %}
            <br><br>
        </div>  
        {% endfor %}
    </div>
{% endblock %}

<!-- {% for x in order.productsinorder_set.all %}
        {{x.product.codigo}}
        {% endfor %} -->