{% extends "base.html" %}
{% load static %}
{% block page_content %}


<table style="font-size: 3rem;">
    <tr>
        <th class="col-sm-1">Usuario</th>
        <th class="col-sm-1">Total</th>
        <th class="col-sm-3">direccionEntrega</th>
        <th class="col-sm-3">Productos</th>
    </tr>

    {% for order in orders %}
    <tr>
        <td>
            {{order.user}}
        </td>
        <td>
            {{order.totalPrice}}
        </td>
        <td>
            {{order.direccionEntrega}}
        </td>
        <td>
            {% for x in order.productsinorder_set.all %}
                {{x.product.codigo}} <br>
            {% endfor %}
        </td>
    </tr>
    
    {% endfor %}


</table>
{% endblock %}

<!-- {% for x in order.productsinorder_set.all %}
        {{x.product.codigo}}
        {% endfor %} -->