{% load static %}

<head>
    <meta charset="UTF-8">
    <title>HidraSport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'style.css' %}">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>





<section class="top-line">
    <div class="container-top-line">
        <ul class="top-list">
            {% if user.is_authenticated %}
            <li class="top-item">
                Bienvenido {{user.username}}
            </li>
            <li class="top-item"><a href="/logout/">Salir</a></li>
            {% else %}
            <li class="top-item"><a href="/register">Crear Cuenta</a></li>
            <li class="top-item"><a href="/login/">Iniciar sesion</a></li>
            {% endif %}
            <li class="top-item"><a href="/cart-detail/">carrito</a></li>
        </ul>
    </div>
</section>

<nav class="">
    <div class="row">
        <div class="col-sm-2"><span class="navbar-brand w-100"><a href="/"><img src="{% static 'logo.jpeg' %}" class="logo" alt=""></a></span></div>
        <ul class="menu col-sm-5">
            {% for cat in destacadas %}
            <li><a href="/productos/{{cat.nombre}}">{{cat.nombre}}</a>
                <ul class="submenu d-flex ">
                    {% for relobj in cat.subcategorias_set.all %}
                    <li class="submenu-items"><a href="/productos/{{cat.nombre}}"> {{ relobj.nombre }}</a><li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>

        <div class="row col-sm-5 d-flex justify-content-end">
            <div class="search-icon"><a href="/"><img src="{% static 'search.png' %}" class="logo" alt=""></a></div>
            <input class="search" type="text" placeholder="Buscar..">
            <div class="carrito-icon"><i class="icon-shopping-cart icon-large"></i></div>
        </div>
    </div>
</nav>


<!--
<nav class="navbar navbar-expand-sm navbar-light bg-faded flex-nowrap">
<button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbar5">
<span class="navbar-toggler-icon"></span>
</button>
<span class="navbar-brand w-100"><a href="/"><img src="{% static 'logo.png' %}" class="logo" alt=""></a></span>
<div class="navbar-collapse collapse w-100 justify-content-center" id="navbar5">
<ul class="navbar-nav mx-auto">
{% for x in destacadas %}
<li class="nav-item">
<a class="nav-link" href="/productos/{{x.nombre}}">{{x.nombre}}</a></li>
{% endfor %}
</ul>
</div>
<div class="w-100">spacer</div>
</nav>
-->

{% block page_content %}
{% endblock %}

<section class="footer">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-3">
                <h1>HIDRASPORT</h1>
                <h2>De Atletas para Atletas</h2>
                <div class="row social">
                    <div class="social-icon">
                        <p><i class="icon-facebook-sign icon-large"></i></p>
                    </div>
                    <div class="social-icon">
                        <p><i class="icon-instagram icon-large"></i></p>
                    </div>
                    <div class="social-icon">
                        <p><i class="icon-youtube icon-large"></i></p>
                    </div>
                    <div class="social-icon">
                        <p><i class="icon-twitter icon-large"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <h2> Contacto</h2>

                <p>HIDRASPORT.ARG@GMAIL.COM</p>
                <p>15 DE AGOSTO</p>
                <p>1155138066</p>
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="{% static 'main.js' %}"></script>
