{% extends 'base.html' %}

{% block title %} Create an Account {% endblock %}
{% load crispy_forms_tags %}

{% block page_content %}



<div class="container creation-form">

    <h1>Crear cuenta</h1>

    <form method="post" action="">
        {% csrf_token %}
        <label for="{{form.username.label}}">Nombre de usuario</label><br>
        {{form.username}}<br><br>
        {{form.username.errors}}
        <label for="{{form.email.label}}">{{form.email.label}}</label><br>
        {{form.email}}<br><br>
        {{form.email.errors}}
        <label for="{{form.password1.label}}">Contraseña</label><br>
        {{form.password1}}<br><br>

        <label for="{{form.password2.label}}">Confirmar contraseña</label><br>
        {{form.password2}}<br><br>
        {{form.password2.errors}}
        
        <input type="submit" value="Crear usuario" name="Crear usuario" class="btn btn-dark btn-lg btn-block">
        
    </form>
    
</div>

{% endblock %}


<!--<form method="post" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Registrarse</button>
    </form>-->