/*-------------------top-line--------------------*/
a{
    text-decoration: none;
}
.top-line {
    position: relative;
    color: white;
    width: 100%;
    height: 4rem;
    z-index: 2;
    background-color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;

}

.top-list {
    padding-top: 1rem;
}

.top-item {
    margin: 0rem 2rem;
}

/*-------------Nav desktop-------------*/

#nav-desktop {
        
    }

#nav-sm {
    display: none;
}

nav {
    background-color: white;
    
    font-size: 3rem;
    z-index: 6;

}

.nav-bar {
    margin-top: 1.5rem;
    
}

nav ul {
    list-style: none;
}


.menu > li {
    display: inline-block;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-weight: 700;
    font-family: 'univers', 'open sans';
    text-decoration: none;
}

.menu > li > a:hover {
    border-bottom: solid 2px black;
    color: #7e7e7e;
    transition: all .3s;
    background-color: white;
}


.submenu {
    position: absolute;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s;
    min-height: 5rem;
    z-index: 3;
    width: 102%;
    overflow: hidden;
    left: 0;
}


.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.submenu-cols{
    margin-top: 0rem;
    width: 15%;
}

.submenu-cols a {
    margin-top: 1.2rem;
    display: block;
    height: 6rem;
    color: black;
    font-weight: 500;
    font-family: 'Open sans';
    text-decoration: none;
    font-size: 2.75rem;
    text-decoration: none;
}

.submenu-cols li a {
    display: block;
    color: darkslategrey;
    font-family: 'Open sans';
    text-decoration: none;
    height: 4.5rem;
}

.submenu-subcats{
    padding: 0;
}

.search {
    max-height: 3rem;
    margin-top: 1.5rem;
    max-width: 10rem;
}

.carrito-icon {
    max-height: 3rem;
    margin-top: 1rem;
    margin-left: 3rem;
    max-width: 4rem;
}

.logo {
    
}


.nav-link {
    font-size: 2.5rem;
    color: black !important;
    margin: auto 2rem;
    text-transform: uppercase;
}


@media screen and (max-width: 1199px) {
    #search-basket{
        display: none;
    }
}

/*-----------nav small------------*/

@media screen and (max-width: 982px) {
    #search-basket{
        
        display: none !important;
    }
    
    .nav-desktop{
        display: none!important;
    }
    
    #nav-sm {
        display: contents;
        
    }


    #nav-desktop {
        display: none;
    }

    nav {
        font-size: 2.25rem;
        text-decoration: none;
        color: black !important;
    }

    .navMenu {
        
        padding-top: 1rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    .menu-icon-toggle {        
        display: contents;
        font-size: 3rem;   
    }
    
    .fa-bars{
        margin-left: 2rem;
        text-decoration: none;;
    }
    
    
    .menu-bar-icon i {
        text-decoration: none;
        color: black;
    }

    .logo {
        max-width: 10rem;
        margin: auto;
    }

    .carrito-icon {
        font-size: 2rem;
        margin-top: 0;;
        padding-right: 6rem;
    }

    .menu-list {
        display: inline;
        color: black;
    }

    .sm-menu-aux {
        display: contents;
    }

    .nav-sm {
        display: contents;
    }


    .menu {
        position: absolute;
        width: 80%;
        height: 100vh;
        top: 4rem;

        background: white;
        z-index: 2;

        transition-timing-function: ease-out;

        transition: 0.3s;
        transform: translate(-100vw, 0%);

    }

    .menu-container {
        display: contents;
        position: relative;
        padding-bottom: 1rem;
        border-bottom: solid 1px lightgrey;
    }

    .menu-logo {
        display: contents;
        margin: auto;
        max-width: 10rem;
        padding-top: 1.25rem;
        margin-left: 2rem;
    }

    

    .menu-icon-toggle i {
        text-decoration: none;
        color: black;
    }

    .menu-cat-item {
        font-size: 2rem;
        padding-top: 1rem;
        padding-left: 2rem;

    }

    .menu-cat-item a {
        text-decoration: none;
        color: black;
    }

    .menu-list a {
        margin-top: 1rem;
        text-transform: uppercase;
    }

    .menu-cat-item-arrow {
        padding-right: 2.25rem;
    }

    .submenu-cols {
        position: absolute;
        width: 100%;
        height: 100vh;
        

        background: white;
        z-index: 2;

        transition-timing-function: ease-out;

        transition: 0.3s;
        transform: translate(-100vw, 0%);
    }

    .submenu-item a{
        font-size: 2rem;
        padding-top: 1rem;
        padding-left: 2rem;
        text-decoration: none;
        color: black;
    }

    .visible {
        transition-timing-function: ease-in;

        transition: 0.3s;
        transform: translate(0, 0%);
    }

}
