*,
::before,
::after {
    margin: 0;
    padding: 0;

}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}



.top-item a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 0 0;
}





/*-------------------Hero----------------*/

.hero {

    width: 100%;
    height: 70vh;
    background: url("../static/hero.jfif") center no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;

}

/*--------------------belowhero----------------*/

.belowhero {
    margin-top: 0rem;
    display: flex;
    background-color: black;
    color: white;
    margin-bottom: 3rem;
    justify-content: center;
}

.belowhero h2 {
    font-size: 3rem;
    padding: 1rem;
}

/*-------------------main----------------*/

.img-main{
    position: relative;
}

.section-item{
    margin-bottom: 3rem;
    position: relative;
}

.overlay {
    
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 1); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    z-index: 10;


}

.section-name{
    position: absolute;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    top: 45%;
    left: 45%;
    z-index: 2;
}

/*-------------------Best----------------*/


#bestof {
    max-width: 90%;
}

.bestof-display {
    display: flex;

}

.bestof-display div {
    justify-content: space-between;
}

.bestof-title {
    border-bottom: 1px solid black;
    margin-bottom: 3rem;
}

.img-best {
    max-width: 20vh;
    overflow: hidden;

}

/*-------------------articles------------*/

.article-detail{

}

.article{
    display: block;
    margin: 2rem 0rem;
    padding: 0px;
    position: relative;
    min-height: 50rem;
    max-width: auto;
    overflow-x:auto;
    vertical-align:middle;
    word-wrap:normal;
    white-space:nowrap;
    margin-bottom: a l5rem;
}

.article-img img{
    display: inline;
    margin: 0px;
    padding: 0px;
    vertical-align:middle;
    width:300px;
}

.article-text{
    position: absolute;
    bottom: 0;
    left: 0;
}

.catalog{
    margin-top: 5rem;
    margin-bottom: 5rem;

}
.test{
    background-color: red;
}

.sidebar h1 {
    font-size: 3.5rem;
    border-bottom: 1px solid grey;
}

.sidebar {
    padding-top: 3rem;
    padding-left: 10rem;
}

.sidelist{
    font-size: 1.5rem;
    padding-left: 10rem;
}


.article.col-sm-3{
    padding: 0;
}
/*-------------------------Detail view-------------------------*/


.wrap {
    display:flex;
    flex-direction: column;
}

.article-detail{
    margin-bottom: 25rem;
    margin-top: 2.5rem;
    height: 80vh;
}

.small-imgs img{
    margin: 2px;
    margin-bottom: 3rem;
}

.big-imgs{
    padding-left: 4rem;
    position: relative;
}

.big-imgs img{
    position: absolute;
    opacity: 0;   
    
    
}

.big-imgs img.active{
    opacity: 1;
}

.talles_display{
    display: inline;
}

.talle-button{
    border: black solid 1px;
    margin-right: 1.5rem;
    padding: 0.5rem 1rem!important;
    
}

.selected{
    background-color: black;
    color: white;
}

/*-------------------filter styles--------------*/

.sectionbanner {
    max-height: 55vh;
    overflow: hidden;
}




/*-------------------cart--------------*/

.carrito{
    margin-top: 20rem;
}

.cart-background {


    background-color: white;
    border-radius: 1rem;
    font-size: 2.5rem;

}

.cartitem {
    border-bottom: solid 1px;
    padding: 2rem 2rem;
}

.lastrow {
    background-color: yellow;
}

/*-------------------registration--------------*/

.creation-form {
    font-size: 1.5rem;
    margin: 5rem auto;
}

.creation-form h1 {
    font-size: 4rem;
    margin-left: 40%;
}

.creation-form form {
    margin: auto;
    width: 70%;
}

.creation-form input {
    width: 100%;
}

.login-form {
    font-size: 1.5rem;
    margin: 5rem 0rem;
}

.login-form h1 {
    font-size: 4rem;
    margin-left: 40%;
}

.login-form form {
    margin: auto;
    width: 70%;
}

.login-form input {
    width: 100%;
}

/*-------------------footer--------------*/
.footer {
    width: 100%;
    font-size: 1rem;
    color: white;
    background-color: black;
    height: 15vh;
    padding-top: 4rem;
    min-height: 40vh;
}

.footer h2{
    font-size:  1.75rem;
    margin-bottom: 4rem;
}

.footer p{
    font-size: 1rem;
}

.social{
    margin-left: 1rem;
}

.social-icon{
    margin-left: 1rem;
    margin-top: 3rem;
}

.footer p{
    color: grey;
}

/*----pop messages----*/

#msg{
    position: absolute;
    font-size: 2.5rem;
    right: 10;
    bottom: 10;
    z-index: 10;
    border-radius: 10px;
}