{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="container-fluid d-flex justify-content-center">
    <div class="row article-detail  col-sm-10">
        <div class="row col-sm-8 left-column">
            <div class="small-imgs wrap col-sm-2">
                {% for image in images %}
                <div class="small-img-container">
                    <img src="{% static image.image.url %}" alt="">
                </div>
                {% endfor %}
            </div>
            <div class="big-imgs col-sm-9">

                {% for image in images %}
                <div class="big-img-container">
                    <img src="{% static image.image.url %}" alt="">
                </div>
                {% endfor %}

            </div>
        </div>

        <div class="col-sm-4 right-column">
            <h1>{{articulo.name}}</h1>
            <h3>{{articulo.price}}</h3>
            <h5>Seleccionar Talle</h5>

            {% for x in articulo.talles_set.all %}

                <h2 class="talle-button">{{x.talle}}</h2>
                <h2>{{x.cantidad}}</h2>
            {% endfor %}


            <p>Calcular envios</p>

            <p>Descripcion</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate excepturi soluta, nulla ex praesentium ipsam voluptates tenetur doloremque perferendis ea aperiam eos corporis tempora expedita quos reiciendis culpa aliquam porro.</p>

            <p>Tabla de talles</p>

            <a href="{% url 'cart_add' articulo.pk%}" id="buy-link" class="btn btn-primary">Agregar al carrito</a>

        </div>

    </div>
</div>

<!--

<section class="articles container-fluid">
    <div class="row">
        
        <div class="row col-sm-4">
            <h1>detalle</h1>
            <h4>{{ articulo.titulo }}</h4>
            <p>{{ articulo.precio }}</p>
        </div>

    </div>
</section>


-->

{% endblock %}
