{% extends "base.html" %}
{% load static %}

{% block page_content %}


<section class="hero">
</section>

<section class="belowhero">
    <h2>De atletas para atletas</h2>
</section>

<section id="main" class="container-fluid">
    <div class="row d-flex justify-content-center">
        {% for seccion in secciones %}
        <div class="col-sm-10 col-lg-6 section-item">
            <div class="img-main">
                <img class="overlay" src="{% static seccion.imagen.url %}" alt="">

            </div>
            <h2 class="section-name">{{ seccion.nombre }}</h2>


            <!--          <a href="/productos/{{seccion.categorias.nombre}}"
class="btn btn-primary">
Ver mas
</a>
-->
        </div>
        {% endfor %}
    </div>
</section>


{% if lomejor %}
<section id="bestof" class="container-fluid">
    <div class="bestof-title">
        <h1>Lo mejor de Hidra Sport</h1>
    </div>

    <div class="bestof-display row">
        {% for x in lomejor %}
        <div class="col-sm-5  col-md-2">
            <div class="img-best">
                <img src="{% static x.imagen.url %}" alt="">
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quisquam voluptas animi culpa deserunt maxime cumque.
            </p>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

{% endblock %}